@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.typing-effect {
  overflow: hidden;
  /* Menyembunyikan teks yang belum diketik */
  white-space: nowrap;
  /* Mencegah teks wrap ke baris baru */
  border-right: 3px solid white;
  /* Menambahkan kursor blink */
  animation: typing 3s steps(30, end), blink 0.6s step-end infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0.9);
    opacity: 0.8;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Tambahkan class animasi */
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.animate-slide-in-up {
  animation: slide-in-up 1s ease-in-out;
}

.animate-scale-up {
  animation: scale-up 0.8s ease-in-out;
}
